<form action="/shop-grid" method="GET">
  <div class="hero__search__categories">
    All Categories
    <!-- <span class="arrow_carrot-down"></span> -->
  </div>
  <input type="text" placeholder="What do yo u need?" name="searchbar"/>

  <button type="submit" id="buttonsearch" class="site-btn">SEARCH</button>
</form>
