<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            <li><a href="/shop-grid?search=thit">Fresh Meat</a></li>
            <li><a href="/shop-grid?search=raucu">Vegetables</a></li>
            <li><a href="/shop-grid?search=traicay">Fresh Fruits</a></li>
            <li><a href="/shop-grid?search=haisan">Ocean Foods</a></li>
            <li><a href="/shop-grid?search=doanlien">Fastfood</a></li>

            <li><a href="/shop-grid?search=nuoc">Drinks</a></li>
            <li><a href="/shop-grid?search=sua">Milk</a></li>
            <li><a href="/shop-grid?search=banhkeo">Candy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
             <%- include('searchbar'); %>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>(+86)869038684</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
          <div class="hero__text">
            <span>FRUIT FRESH</span>
            <h2>Vegetable <br />100% Organic</h2>
            <p>Free Pickup and Delivery Available</p>
            <a href="/shop-grid" class="primary-btn">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
