  <div class="w3-container">
  <div id="id01" class="w3-modal" style="display: none;">
    <div class="w3-modal-content" style="width: 400px;">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 style="font-family: Cairo", sans-serif;"><img src="img/logo.png" /></h5>
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="close"
            data-dismiss="modal" style="font-size: 20px;">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p class="textsub"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="btnmail" data-dismiss="modal"
            onclick="document.getElementById('id01').style.display='none'" style="font-size: 15px;">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>